@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Noto+Sans:wght@200&display=swap');
#content{max-width: 1600px;}
#content{margin:0 auto;}
nav a{text-align: center;color:
     white; 
     text-decoration: none;
     font-family: "Noto Sans",Helvetica, sans-serif;
     padding: 35px;
    }
#hero-msg h1{text-align: center;}
#hero-msg h4{text-align: center;}
.button-box{text-align: center;}
main{text-align: center;}
section{text-align: center;}
#background {height: 725px;}
body{background-color:#ffd449 ;}
header{background-color:#77b800 ;}
nav a:hover{background-color: #a8d5e2;color: black;}
.book {background-color: #f9a620;color: 
    white;
    text-decoration: none;
    font-family: "Noto Sans",Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.join{background-color: 
    #f9a620;color: white;
    text-decoration: none;
    font-family: "Noto Sans",Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.book:hover {background-color: #a8d5e2;color: black;}
.join:hover{background-color: #a8d5e2;color: black;}
#background{background-color: whitesmoke;}
.msg{background-color: #77b800;
    line-height: 1.5em;
    padding: 35px;
    
}
footer{background-color: #77b800;
    font-family: "Noto Sans",Helvetica, sans-serif;
}
.home-title{color: white;}
h4{color: white;
    font-family: "Noto Sans",Helvetica, sans-serif;
}
.msg h2{color: white;
    font-family: "Balsamiq Sans",Helvetica, sans-serif;   
}
.msg p{color: white;
    font-size: .8em;
    font-family: "Noto Sans",Helvetica, sans-serif;
    padding-bottom: 15px;
}
footer{color: white;font-size: 1.5em;
    padding: 25px 50px;
}
footer a{color: white;
    text-decoration: none;}
footer a:hover{background-color:
    #a8d5e2;color:
     black;
    text-decoration: underline;}
.logo{width: 80px;}
.icon{width: 80px;
    padding-top: 10px;
}
#hero-img{width: 100%;}
.home-title{
    font-family: "Balsamiq Sans",Helvetica, sans-serif;
    font-size: 2em;
}
main h2{
    font-family: "Noto Sans",Helvetica, sans-serif;
}
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0
}
#logo-link{
    padding-top: 5px;
}
footer .social{
    padding-top: 15px;
}
.card img{
    border: 10px solid #f9a620;
}
main section img {
    box-sizing: border-box;
}